// Color
color-primary = #409EFF
color-secondary = #b3d8ff
color-success = #67C23A
color-warning = #E6A23C
color-danger = #f56c6c
color-info = #909399
color-background = #f7f7f7
color-background-white = #ffffff
color-primary-text = #303133
color-regular-text = #606266
color-secondary-text = #909399
color-placeholder = #c0c4cc
color-meta = color-secondary-text
color-border-base = #dcdfe6
color-link = #409eff

// font
font-default = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
font-serif = "georgia", serif
font-mono = monaco, menlo, consolas, courier new, monospace
font-title = "lato", helvetica neue, helvetica, arial, sans-serif
font-size-1 = 24px
font-size-2 = 22px
font-size-3 = 20px
font-size-4 = 18px
font-size-5 = 16px
font-size-6 = 14px

box-shadow-normal = 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)

// font-icon = fontawesome
// font-icon-path = 'font/fontawesome-webfont'

// @font-face {
//   font-family 'FontAwesome'
//   font-style normal
//   font-weight normal
//   src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
// }
// @font-face {
//   font-family:   
// }

// Width
page-width = 1200px
main-width = 800px
siderbar-width = 330px