#header
  width 100%
  background #fff
  height 60px

  #fixed-header
    position: fixed
    width 100%
    border-bottom 1px solid #dcdfe6
    background #fff
    z-index 100

  nav
    max-width 1200px
    height 60px
    margin 0 auto
    div
      display flex
      display -webkit-flex
      align-items center

  a
    text-decoration: none
    
  h1 
    margin-left: 15px
    letter-spacing 1px
    font-size 32px
    a 
      color color-primary
      text-decoration none
      font-weight: bold
      display block
      font-family font-mono

  h2
    margin: 0
    font-weight normal
    font-size 16px
    margin-top 10px
    a
      color #909399

  ul
    border-bottom none

  #main-nav
    font-family font-title
    line-height 2.5em
    ul
      list-style none
      li
        float left
        margin-left 30px